<aside class="sidebar"
       id="primary-nav"
       data-controller="sidebar-active"
       aria-label="Main">
  <%= link_to root_path, class: "sidebar__logo", "aria-label": "Stardance home" do %>
    <%= image_tag "landing/header/stardance-logo.png", alt: "Hack Club Stardance Challenge", class: "sidebar__logo-img" %>
  <% end %>

  <nav class="sidebar__nav" aria-label="Primary navigation">
    <ul class="sidebar__nav-list">
      <% nav_items.each do |item| %>
        <% link_classes = link_classes_for(item) %>

        <li class="sidebar__nav-item">
          <% icon_block = capture do %>
            <span class="sidebar__nav-icon-wrapper" aria-hidden="true">
              <% case item[:icon] %>
              <% when Hash %>
                <%= image_tag "icons/#{item[:icon][:idle]}.png", alt: "", class: "sidebar__nav-icon sidebar__nav-icon--idle" %>
                <%= image_tag "icons/#{item[:icon][:active]}.png", alt: "", class: "sidebar__nav-icon sidebar__nav-icon--active" %>
              <% else %>
                <%= inline_svg_tag "icons/#{item[:icon]}.svg", class: "sidebar__nav-icon" %>
              <% end %>
            </span>
          <% end %>

          <% label_block = capture do %>
            <span class="sidebar__nav-label"><%= item[:label] %></span>
          <% end %>

          <%= link_to item[:path], class: link_classes, aria: (active?(item) ? { current: "page" } : {}), data: { slug: item[:slug] }.compact do %>
            <%= icon_block %>
            <%= label_block %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="sidebar__user">
    <div class="sidebar__guest-cta">
      <%= link_to "Sign up", root_path, class: "sidebar__guest-cta-btn" %>
    </div>
  </div>
</aside>
